
  /*CSS PRODUTOS */
  .modBox{
	width: 290px;
	height: 350px;
	font-size: 16px;
	padding: 5px;
    color:  transparent;
	margin: 10px;
	background-color:  transparent; 
	overflow: hidden;
	transition: 0.3s ease-out;
    text-align: center;
	}
	.modBox:hover{
    color:  transparent;
	background-color:  transparent;
	transform: scaleX(1.25) scaleY(1.25);
	background-size: cover;
	transition: 0.3s ease-out;
   overflow-Y: auto;
   -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
   -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
   box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
	}
@media only screen and (max-width: 1020px){ 
.modbox{
        background-color: transparent;
        color: white; 
       height: 200px;
        }
    }

    .modBox{
        float: left;
        width: 250px;
        height: 300px;
        font-size: 16px;
        padding: 5px;
        color:  white;
        margin: 10px;
        background-color:  transparent; 
        overflow: hidden;
        transition: 0.3s ease-out;
        text-align: center;
        }
        .modBox:hover{
        color: transparent;
        background-color:  transparent;
        transform: scaleX(1.25) scaleY(1.25);
        background-size: cover;
        transition: 0.3s ease-out;
       overflow-Y: auto;
       -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
       -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
       box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
        }
    @media only screen and (max-width: 1020px){ 
    .modbox{
            background-color: transparent;
            color: white; 
           height: 200px;
            }
        }

        .modBox{
            float: left;
            width: 250px;
            height: 300px;
            font-size: 16px;
            padding: 5px;
            color:  white;
            margin: 10px;
            background-color:  transparent; 
            overflow: hidden;
            transition: 0.3s ease-out;
            text-align: center;
            }
            .modBox:hover{
            color: transparent;
            background-color:  transparent;
            transform: scaleX(1.25) scaleY(1.25);
            background-size: cover;
            transition: 0.3s ease-out;
           overflow-Y: auto;
           -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
           -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
           box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
            }
        @media only screen and (max-width: 1020px){ 
        .modbox{
                background-color: transparent;
                color: white; 
               height: 200px;
                }
            }
            .modBox{
                float: left;
                width: 250px;
                height: 300px;
                font-size: 16px;
                padding: 5px;
                color: white;
                margin: 10px;
                background-color: transparent; 
                overflow: hidden;
                transition: 0.3s ease-out;
                text-align: center;
                }
                .modBox:hover{
                color: transparent;
                background-color:  transparent;
                transform: scaleX(1.25) scaleY(1.25);
                background-size: cover;
                transition: 0.3s ease-out;
               overflow-Y: auto;
               -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
               -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
               box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                }
            @media only screen and (max-width: 1020px){ 
            .modbox{
                    background-color: transparent;
                    color: white; 
                   height: 200px;
                    }
                }
                .modBox{
                    float: left;
                    width: 250px;
                    height: 300px;
                    font-size: 16px;
                    padding: 5px;
                    color:  white;
                    margin: 10px;
                    background-color:  transparent; 
                    overflow: hidden;
                    transition: 0.3s ease-out;
                    text-align: center;
                    }
                    .modBox:hover{
                    color:  transparent;
                    background-color:  transparent;
                    transform: scaleX(1.25) scaleY(1.25);
                    background-size: cover;
                    transition: 0.3s ease-out;
                   overflow-Y: auto;
                   -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                   -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                   box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                    }
                @media only screen and (max-width: 1020px){ 
                .modbox{
                        background-color: transparent;
                        color: white; 
                       height: 200px;
                        }
                    }
                    .cream{
                        float: left;
                        width: 200px;
                        height: 270px;
                        font-size: 16px;
                        padding: 5px;
                        color: white;
                        margin: 10px;
                        background-color:  transparent; 
                        overflow: hidden;
                        transition: 0.3s ease-out;
                        text-align: center;
                        }
                        .cream:hover{
                        color:  transparent;
                        background-color:  transparent;
                        transform: scaleX(1.25) scaleY(1.25);
                        background-size: cover;
                        transition: 0.3s ease-out;
                       overflow-Y: auto;
                       -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                       -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                       box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                        }
                    @media only screen and (max-width: 1020px){ 
                    .cream{
                            background-color: transparent;
                            color: white; 
                           height: 200px;
                            }
                        }
                        .crea1{
                            float: left;
                            width: 170px;
                            height: 1800px;
                            font-size: 16px;
                            padding: 5px;
                            color: white;
                            margin: 10px;
                            background-color:  transparent; 
                            overflow: hidden;
                            transition: 0.3s ease-out;
                            text-align: center;
                            }
                            .crea1:hover{
                            color: transparent;
                            background-color:  transparent;
                            transform: scaleX(1.25) scaleY(1.25);
                            background-size: cover;
                            transition: 0.3s ease-out;
                           overflow-Y: auto;
                           -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                           -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                           box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                            }
                        @media only screen and (max-width: 1020px){ 
                        .crea1{
                                background-color: transparent;
                                color: white; 
                               height: 200px;
                                }
                            }
                            .crea1{
                                float: left;
                                width: 200px;
                                height: 270px;
                                font-size: 16px;
                                padding: 5px;
                                color:  white;
                                margin: 10px;
                                background-color:  transparent; 
                                overflow: hidden;
                                transition: 0.3s ease-out;
                                text-align: center;
                                }
                                .crea1:hover{
                                color:  transparent;
                                background-color:  transparent;
                                transform: scaleX(1.25) scaleY(1.25);
                                background-size: cover;
                                transition: 0.3s ease-out;
                               overflow-Y: auto;
                               -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                               -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                               box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                }
                            @media only screen and (max-width: 1020px){ 
                            .crea1{
                                    background-color: transparent;
                                    color:white; 
                                   height: 200px;
                                    }
                                }
                                .crea2{
                                    float: left;
                                    width: 200px;
                                    height: 270px;
                                    font-size: 16px;
                                    padding: 5px;
                                    color: white;
                                    margin: 10px;
                                    background-color:  transparent; 
                                    overflow: hidden;
                                    transition: 0.3s ease-out;
                                    text-align: center;
                                    }
                                    .crea2:hover{
                                    color:  transparent;
                                    background-color:  transparent;
                                    transform: scaleX(1.25) scaleY(1.25);
                                    background-size: cover;
                                    transition: 0.3s ease-out;
                                   overflow-Y: auto;
                                   -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                   -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                   box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                    }
                                @media only screen and (max-width: 1020px){ 
                                .crea2{
                                        background-color:transparent;
                                        color: white; 
                                       height: 200px;
                                        }
                                    }
                                    .crea2{
                                        float: left;
                                        width: 200px;
                                        height: 270px;
                                        font-size: 16px;
                                        padding: 5px;
                                        color:  white;
                                        margin: 10px;
                                        background-color:transparent; 
                                        overflow: hidden;
                                        transition: 0.3s ease-out;
                                        text-align: center;
                                        }
                                        .crea2:hover{
                                        color: transparent;
                                        background-color:  transparent;
                                        transform: scaleX(1.25) scaleY(1.25);
                                        background-size: cover;
                                        transition: 0.3s ease-out;
                                       overflow-Y: auto;
                                       -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                       -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                       box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                        }
                                    @media only screen and (max-width: 1020px){ 
                                    .crea2{
                                            background-color: transparent;
                                            color: white; 
                                           height: 200px;
                                            }
                                        }

                                    .crea1{
                                        float: left;
                                        width: 200px;
                                        height: 270px;
                                        font-size: 16px;
                                        padding: 5px;
                                        color:  white;
                                        margin: 10px;
                                        background-color:transparent ; 
                                        overflow: hidden;
                                        transition: 0.3s ease-out;
                                        text-align: center;
                                        }
                                        .crea1:hover{
                                        color: transparent;
                                        background-color:  transparent;
                                        transform: scaleX(1.25) scaleY(1.25);
                                        background-size: cover;
                                        transition: 0.3s ease-out;
                                       overflow-Y: auto;
                                       -webkit-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                       -moz-box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                       box-shadow: -2px 0px 25px -4px rgba(0,0,0,0.75);
                                        }
                                    @media only screen and (max-width: 1020px){ 
                                    .crea1{
                                            background-color: transparent;
                                            color: white; 
                                           height: 200px;
                                            }
                                        }
                                        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


:root {
--color-neutral-0: #000000fd;
--color-neutral-10:#171717;
--color-neutral-30:#a8a29e;
--color-neutral-40:#f5f5f5;

}

*{
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
main {
    height: 80vh;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
    position: fixed;

}

.footer-link {
    text-decoration: dashed;

}


#footer_content {
    background-color: var(--color-neutral-0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem; 
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    background-color: #3861b3;
    font-size: 1.5rem;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem ;
}
#footer_social_media .footer-link:hover {
    opacity: 0.8;
}


#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);

}

#facbook {
    background-color: #3861b3;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--color-neutral-30);
    transition: all 0.4s;

}
.footer-list .footer-link:hover{
    color: #7f37c9;
}
#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}
#footer_subscripe p{
    color: var(--color-neutral-30);
}
#input_group {
    display: flex;
    align-items: stretch;
    background-color: var(--color-neutral-10);
    border-radius: 5%;
    overflow: hidden;
    border-radius: 30px;
}
#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button {
    background-color: #605e5e;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
   
    
    
}
#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-10);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

#footer_logo {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 0.75rem; /* Espaçamento abaixo da imagem */
}
