body{
    background-color: darkgrey;
}
header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
        text-align: center  }

        .header_img{
            background-color: rgb(0, 0, 0);
            padding: 20px;
            text-align: center;
        }
 h1{
    color: yellow;
    text-align: center;
 }
.frango{
    color: yellow;
    text-align: center;
}
div{
    text-align: center;
}
button{
    background-color: green;
    color: gold;
    width: 20%;
    font-size: 20px;
}