body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 h2, h3, h1{
    color: rgb(5, 4, 4);
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    display: inline-block;
    margin-left: 10px;
}
p {
    text-align: justify;
}
/* Estilos para o Header */
header {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

header img {
    max-width: 10000px;
    height: auto;
    vertical-align: middle;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('caminho-para-bebas-neue.ttf');
}

